[Unit]
Description=Start Slack bot which can execute command and downloads m3u8 videos
After=multi-user.target

[Service]
Type=idle
Environment=SLACK_BOT_TOKEN=<PUT YOUR TOKEN HERE>
ExecStart=/usr/bin/python -u /usr/local/bin/droidz-slack-bot.py
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=multi-user.target
